.reservation {
    background-color: #d9e7ff;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.reservation__title {
    margin: 100px auto 80px auto;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 0;
    width: 385px;
}
